<h1 class="form-text">book this car!</h1>
<div class="container form">
  <%= simple_form_for([@car, @booking] ) do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit %>
  <% end %>
</div>
