<div class="review-form-container shadow rounded">
  <h1 class="fugaz-font larger" style="font-size: 24px;">Leave a review!</h1>
  <div class="form">
    <%= simple_form_for([@car, @review] ) do |f| %>
      <%= f.input :comment, required: false %>
      <%= f.input :star, collection: (1..5).to_a, label: "Rate your experience" %>
      <%= f.button :submit, "Post Review", class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
</div>
